.menu--user__center-mode {
    cursor: pointer;

    .notification-alert,
    .notification__title {
        pointer-events: none;
    }
}

// header
.center-mode__header {
    .center-mode__header_editable {
        &:hover:after {
            content: '';
            display: inline-block;
            top: 26px;
            right: -8px;
            font-size: 0.7em;
            background-image: url(../images/icons/pencil.svg);
            background-repeat: no-repeat;
            margin-left: 3px;
            width: 1em;
            height: 1em;
        }
    }
}

.center-mode {
    background-color: #eeeeee;

    div[class^='col-'] {
        padding-left: 0;
    }

    .svg-icon {
        fill: $black-light;
    }

    // task status
    .status-notCorrected {
        color: #dd1010;
    }

    .centerMode_status_delivered,
    .status-corrected {
        color: $green;
    }

    .status-mark {
        font-weight: bold;
        color: $black-light;
    }
}

.center-mode__group {
    .tabs-layout__aside,
    .tabs-layout__content {
        padding: 0 30px;
    }

    .tabs-layout__content .tab {
        position: relative;
        padding: 0 30px;
    }

    .center-mode__table {
        margin-top: 15px;
    }

    .group__header {
        padding: 20px 30px;
        margin: 0 auto;
        max-width: 1200px;
    }

    .tabs-layout__aside .tabs__header__item {
        border-color: #dddddd;

        &.selected--tab {
            border-top: 1px solid #dddddd;
            border-right: 1px solid #dddddd;

            &:after {
                content: '';
                display: block;
                position: relative;
                top: -3px;
                left: -40px;
                background-color: #eee;
                width: 158%;
                height: 4px;
            }
        }

        &:first-child {
            border-left: 1px solid #dddddd;
        }
    }

    .tabs-layout__content {
        border-top: 1px solid #dddddd;
    }
}

.center-mode__block {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #dddddd;

    .row {
        padding: 0 17px;
        margin-bottom: 30px;
    }
}

.center-mode__table__header {
    display: table;
    width: 100%;
}

.center-mode__table__header__element-left {
    display: block;
    padding-bottom: 10px;
    float: left;
}

.center-mode__table__header__element-right {
    display: block;
    float: right;
}

.center-mode__table__header__exercise {
    top: 0;
    padding: 20px 2px 2px 3px;
    margin: 0;
    width: 100%;
}

.center-mode__table-title,
.table__block__list {
    &.row {
        margin: 0;
    }

    .table__item__link {
        width: 100%;
    }

    .table__item__ellipsis,
    .table__item__link {
        .block__item__title {
            overflow: hidden;
            max-width: 95%;
            text-overflow: ellipsis;
            white-space: nowrap;

            &.block__item__short {
                max-width: 70%;
            }
        }

        .block__item__explanation {
            position: relative;
            top: -7px;
            margin-left: 3px;
        }
    }
}

.assign-group .table__block__list {
    .group__content {
        label {
            cursor: pointer;
            margin-left: 5px;
        }

        .date-picker input {
            cursor: pointer;
        }
    }
}

.center-mode__table {
    /*  [class*="col-"]:not(:first-child):not(.table__block__item--information) {
      //  text-align: center;
    }*/
    margin-top: 8px;

    .table__block__item--groups {
        padding-right: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .table__block__item.table__block__item--information {
        font-size: 14px;
        color: $text-secondly;
        text-align: left;
    }
}

.center-mode__table-title {
    padding: 0 10px;

    span:first-child {
        padding-left: 0;
    }
    /*    [class*="col-"]:not(:first-child) {
    //    text-align: center;
  }*/
}

.center-mode__table-title--exercises {
    padding-bottom: 5px !important;
    padding-left: 0 !important;

    span {
        padding-left: 0;
    }
}

.center-mode--empty {
    padding-top: 60px;
    text-align: center;

    .center-mode--empty__title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 15px;
    }

    .center-mode--empty__info {
        color: #676a71;
        margin-bottom: 35px;
    }

    &[disabled] {
        color: gray;
        pointer-events: none;

        .svg-icon {
            fill: gray;
        }
    }

    .contact-us-email {
        line-height: initial;
        text-align: left;
        width: 150px;
    }
}

.center-mode--empty-tasks {
    .svg-task {
        width: 108px;
        height: 140px;
        fill: $grey-light;
    }

    .svg-plus {
        fill: white;
    }

    h1 {
        font-family: Roboto;
        font-size: 24px;
        font-weight: bold;
        color: $grey-light;
        margin: 0 auto;
        text-align: center;
        text-align: center;
        width: 451px;
    }

    button {
        margin-top: 30px;
    }
}

.center-mode__average {
    float: right;
    line-height: 0.6;

    .average__mark {
        display: inline;
        font-size: 40px;
        font-weight: bold;
        color: $black-light;
    }

    .average__info {
        display: inline;
        color: $grey-medium;
    }
}

.robots__content {
    width: 60%;
}

.center__content {
    .form--section {
        background-color: white;
        margin-bottom: 20px;
        border-radius: 5px;

        fieldset {
            padding: 20px 31px 31px;

            &:not(:last-child) {
                border-bottom: 1px solid #eee;
            }

            .account__connect {
                cursor: default;
                margin-bottom: 20px;
            }

            .connect-to-SN-google {
                font-weight: 700;
                color: $red;
            }

            .connect-to-SN-facebook {
                font-weight: 700;
                color: #4573ba;
            }

            legend {
                &:first-child {
                    padding-top: 20px;
                }
                display: block;
                padding-bottom: 10px;
                color: $black-light;
                font-size: 16px;
                font-weight: 700;

                .svg-icon {
                    position: relative;
                    top: 5px;
                    width: 13px;
                    height: 13px;
                    fill: $black-light;
                }
            }

            .form-control {
                label {
                    font-size: 13px;
                    font-weight: 400;
                    color: $grey-dark;
                    float: left;
                    line-height: 40px;
                    text-align: left;
                    width: 30%;
                }

                .dropdown--bottom {
                    width: 100%;
                }

                .main--user--image {
                    position: relative;
                    margin: 0 auto;
                    border-radius: 100%;
                    overflow: hidden;
                    width: 160px;
                    height: 160px;

                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }
                }

                .btn--account-upload-image {
                    margin-top: 20px;
                    margin-bottom: 20px;
                    width: 100%;
                }

                .btn--account--password {
                    float: left;
                    width: 40%;
                }

                &:last-child {
                    margin-top: 0;
                    text-align: left;
                }

                span {
                    width: 50%;

                    input {
                        font-size: 13px;
                        font-weight: 400;
                        color: $grey-dark;
                    }
                }
            }
        }
    }

    .form--center {
        .first-column,
        .second-column {
            display: inline-block;
        }

        .first-column {
            padding-right: 10px;
            float: left;
            width: 60%;
        }

        .second-column {
            padding-left: 10px;
            margin-left: 10px;
            float: left;
            width: 27%;
        }

        .user-options-checkbox {
            font-size: 12px;
            font-weight: 400;
            color: $grey-medium;
            padding-bottom: 15px;
            border: 1px solid #eee;

            input {
                margin-bottom: -2.8px;
            }

            label {
                margin-left: 5px;
            }

            &.last {
                padding-bottom: 50px;
            }
        }

        .account__delete {
            font-size: 12px;
            font-weight: 400;
            color: $grey-medium;
            padding-top: 20px;
            padding-bottom: 20px;
            border-top: 1px solid $grey-border;

            a {
                color: $grey-medium;
            }
        }

        .form--section {
            background-color: white;
            margin-bottom: 20px;
            border-radius: 5px;

            fieldset {
                padding: 20px 31px 31px;

                &:not(:last-child) {
                    border-bottom: 1px solid #eee;
                }

                .account__connect {
                    cursor: default;
                    margin-bottom: 20px;
                }

                .connect-to-SN-google {
                    font-weight: 700;
                    color: $red;
                }

                .connect-to-SN-facebook {
                    font-weight: 700;
                    color: #4573ba;
                }

                legend {
                    &:first-child {
                        padding-top: 20px;
                    }
                    display: block;
                    padding-bottom: 10px;
                    color: $black-light;
                    font-size: 16px;
                    font-weight: 700;

                    .svg-icon {
                        position: relative;
                        top: 5px;
                        width: 13px;
                        height: 13px;
                        fill: $black-light;
                    }
                }

                .form-control {
                    label {
                        font-size: 13px;
                        font-weight: 400;
                        color: $grey-dark;
                        float: left;
                        line-height: 40px;
                        text-align: left;
                        width: 30%;
                    }

                    .dropdown--bottom {
                        width: 100%;
                    }

                    .main--user--image {
                        position: relative;
                        margin: 0 auto;
                        border-radius: 100%;
                        overflow: hidden;
                        width: 160px;
                        height: 160px;

                        img {
                            object-fit: cover;
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .btn--account-upload-image {
                        margin-top: 20px;
                        margin-bottom: 20px;
                        width: 100%;
                    }

                    .btn--account--password {
                        float: left;
                        width: 40%;
                    }

                    &:last-child {
                        margin-top: 0;
                        text-align: left;
                    }

                    span {
                        width: 50%;

                        input {
                            font-size: 13px;
                            font-weight: 400;
                            color: $grey-dark;
                        }
                    }
                }
            }
        }
    }

    .account__hardware-list {
        width: calc(100% + 20px);

        .hardware--item {
            cursor: default;
        }

        .hardware--item--add {
            height: 170px;
        }

        .robots-list__item {
            display: inline-block;
            padding-right: 20px;
            margin: 10px 0;
            border-radius: 4px;

            .hardware__add__container {
                &:after {
                    content: '';
                    background-color: transparent;
                    transition: background-color 250ms;
                }
                height: 138px;
                width: 138px;
                overflow: hidden;
                background-color: #dadada;

                svg {
                    margin-bottom: 20px;
                    width: 30px;
                    height: 30px;
                    fill: #9b9da1;
                }
            }

            .hardware__add__container--text {
                font-size: 13px;
                font-weight: bold;
                color: $black-light;
                text-align: center;
            }

            .hardware__image__container {
                &:after {
                    content: '';
                    background-color: transparent;
                    transition: background-color 250ms;
                }
                height: 138px;
                width: 138px;
                overflow: hidden;
                border: 1px solid $grey-border;

                img {
                    position: relative;
                    border: 9px solid white;
                    object-fit: cover;
                    object-fit: contain;
                    width: 100%;
                    height: 100%;
                }
            }

            .hardware__image__container_name {
                font-size: 13px;
                margin-top: 10px;
            }
        }
    }
}

.table--header__teachers {
    margin-bottom: 29px;
}

.btn--newteacher {
    float: right;
}

.btn--activate {
    display: block;
    margin-top: 10px;
    min-width: 138px;
}

.center-mode__tabs {
    background-color: white;
}

.classes-dropdown--group {
    padding-bottom: 20px;
    border-bottom: 1px solid #dddddd;

    .classes-dropdown {
        display: inline-block;
        font-size: 13px;
        text-align: left;
        width: 214px;

        .dropdown__menu__down {
            z-index: 9;
        }

        &:first-child {
            margin-right: 20px;
        }

        &:nth-child(2) {
            margin-right: 20px;
        }
    }

    .classes--input {
        background-color: $white;
        border: solid 1px $grey-border;
        border-radius: 4px;
        float: right;
        width: 240px;
        height: 35px;
    }
}

.centers-dropdown {
    display: inline-block;
    width: 200px;

    button {
        span {
            overflow: none;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

.class-dropdown {
    @extend .centers-dropdown;
    height: 35px;
    min-height: 35px;

    button {
        padding-left: 0;
    }

    .dropdown__heading {
        margin-right: 12px;
    }
}

.classes__title {
    display: inline-block;
    margin-right: 10px;
}

.class__title {
    @extend .classes__title;
    vertical-align: middle;
}

.group--item {
    user-select: text;
}

.group-list {
    margin: 0 -10px;
}

.group-list__item {
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    margin: 20px 0;
    border-radius: 4px;
    height: 265px;

    .group__image__container {
        cursor: pointer;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: background-color 250ms;
            z-index: 2;
        }
        height: 190px;
        position: relative;
        overflow: hidden;
        background-color: $grey-light;

        .group__image__name {
            position: absolute;
            font-size: 40px;
            font-weight: bold;
            color: $white;
            cursor: pointer;
            padding: 23px 46px 33px 10px;
            text-align: left;
            width: 100%;
            height: 190px;
            text-decoration: none;
            z-index: 8;

            p {
                display: -webkit-box;
                cursor: pointer;
                line-height: 1.1;
                overflow: hidden;
                height: 100%;
                word-break: break-word;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }
        }

        a {
            mix-blend-mode: multiply;
        }

        img {
            position: relative;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    .group__image__open {
        display: block;
        position: relative;
        height: 100%;
        mix-blend-mode: multiply;
    }

    .group__info__container {
        background-color: white;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        height: 75px;
        transition: transform 250ms;

        h3 {
            display: inline-block;
            font-size: 16px;
            font-weight: 700;
            color: $black-light;
            padding: 0.5em;
            padding-bottom: 0;
            overflow: hidden;
            width: 100%;
            height: 40px;
            max-width: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .group__info__header__data {
            cursor: pointer;
            padding: 0 0.5em;
            padding-top: 20px;
            padding-left: 10px;
            float: left;
            overflow: auto;
            width: 65%;
            transition: opacity 250ms;

            time {
                display: inline-block;
                font-size: 12px;
                font-weight: 400;
                color: $grey-medium;
                float: left;
                width: 97px;
            }

            .group__info--data {
                font-size: 12px;
                cursor: pointer;
                margin-right: 10px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                &:first-child {
                    margin-bottom: 5px;
                }

                span {
                    font-size: 12px;
                    color: $green;
                    text-transform: capitalize;
                }

                &.shared-project__into__username {
                    max-width: 31%;
                }
            }

            .group__info__header__id {
                cursor: text;
                width: 60px;
                user-select: text;
            }

            .shared-project__into__intro-date {
                float: left;
                width: 64.9%;

                p {
                    margin-right: 3px;
                    overflow: hidden;
                    width: calc(100% - 100px);
                    max-width: 90px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }

        .group__info__header__closed {
            font-size: 12px;
            font-weight: bold;
            background-color: $black-light;
            color: $white;
            cursor: pointer;
            padding-top: 3px;
            margin-top: 26px;
            margin-right: 22px;
            border-radius: 3px;
            float: right;
            text-align: center;
            width: 30%;
            width: 84px;
            height: 23px;
            vertical-align: middle;
        }
    }

    .project__footer {
        position: relative;
        padding-top: 1em;
        border-top: 1px solid #eee;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        transform: translateY(30px);

        .footer__icons--left {
            display: inline-block;
            padding-left: 0.5em;
            float: left;
            width: 50%;
        }

        .footer__icons--right {
            display: inline-block;
            padding-right: 0.5em;
            float: right;
            text-align: right;
            width: 50%;
        }

        .project--footer--icon--general {
            @extend .handcursor;
            display: inline-block;
            margin-right: 0.5em;

            .svg-icon {
                width: 13px;
                height: 15px;
                fill: #3b3e45;
            }
        }

        .project--footer--icon--publish {
            @extend .handcursor;

            &[disabled] {
                color: gray;
                pointer-events: none;

                .svg-icon {
                    fill: gray;
                }
            }

            .svg-icon {
                width: 13px;
                height: 15px;
                fill: #3b3e45;
                //  pointer-events: none;
            }
        }

        .project--footer--icon {
            @extend .handcursor;
            display: inline-block;
            margin-right: 0.5em;

            &[disabled] {
                color: gray;
                pointer-events: none;

                .svg-icon {
                    fill: gray;
                }
            }

            .svg-icon {
                width: 13px;
                height: 15px;
                pointer-events: none;
                fill: #3b3e45;
            }
        }
    }
}

.exercise-info__classes {
    padding-left: 0;

    .exercise-info--text {
        font-family: Roboto;
        font-size: 16px;
        font-weight: bold;
        color: $black-light;
        text-align: left;
    }

    .svg-icon-classes {
        height: 25px;
    }

    .exercise-info--dropdown {
        display: inline-block;
        padding-left: 0;
        width: 60%;
    }

    .exercise-info__class {
        display: inline-block;
        margin-top: 6px;
        width: 20%;
    }
}

.tasks-dropdown__group {
    float: right;

    .task--sort-dropdown {
        display: inline-block;
        width: 190px;

        &:first-child {
            margin-right: 10px;
        }
    }
}

.tasks-students {
    padding: 6px 0 0;
    float: left;
}

.nav--make {
    .nav__menu {
        .exercise-button-wide {
            width: 114px;
            height: 70px;

            &:before {
                margin-left: 25px;
            }

            &:after {
                margin-left: 25px;
            }
        }
    }
}

.center-mode__date {
    font-size: 12px;
    color: $text-secondly;

    .svg-icon {
        position: static;
        left: 5px;
        margin-top: -2px;
        margin-right: 10px;
        width: 14px;
        fill: $text-title;
    }

    .center-mode__date--important {
        font-weight: bold;
        color: $text-title;
    }
}

.center-mode__role-options {
    padding-top: 16px;
    padding-right: 22px;
    width: 222px;
}

.exercise--title-with-roles {
    width: calc(100% - 519px) !important;
}

.col-text-right {
    padding-right: 0;
    text-align: right;
}
@media only screen and (min-width: 320px) and (max-width: 485px) {
    .group-list__item {
        width: 100%;
    }
}
@media only screen and (min-width: 486px) and (max-width: 700px) {
    .group-list__item {
        width: 50%;
    }
}
@media only screen and (min-width: 701px) and (max-width: 1183px) {
    .group-list__item {
        width: 33.333%;
    }
}
@media only screen and (min-width: 1184px) {
    /* Styles */
    .group-list__item {
        width: 33.333%;
    }
}
