node_modules/
dist/
.tmp/
.sass-cache
bower_components/
*.log
*~
*.DS_Store
nbproject
target/

app/res/config

# Editor File Ignore
*.sublime-project
*.sublime-workspace
.idea/
*.orig

i18n
counters
propertiesScripts
contentScripts


app/scripts/config.js
.gitconfig
gruntconfig.json
backupsDB


bower-template.json
package-template.json
sendToTranslate

package-lock\.json
makeConfig.js
.vscode/terminals.json
launch.json

mon\.sh
