<div class="bloqs-tab" data-ng-controller="SoftwareTabCtrl" data-ng-keyup="onFieldKeyUp($event)" data-ng-keydown="onFieldKeyDown($event)" ng-init="setScrollHeight()">
    <div class="tabs--title">
        <ul class="bloq--field--list text-strong">
            <li data-element="experiment-tab" ng-click="setSoftwareTab('experiment')" ng-class="{'active':softTab==='experiment'}">{{ 'experiment' | translate }}</li>
            <li data-element="bioblocks_edition-tab" ng-click="setSoftwareTab('bioblocks_edition')" ng-class="{'active':softTab==='bioblocks_edition'}">{{ 'bioblocks_edition' | translate }}</li>
            <li data-element="code-tab" ng-click="setSoftwareTab('code')" ng-class="{'active':softTab==='code'}">{{ 'code' | translate }}</li>
            <li data-element="autoprotocols-tab" ng-click="setSoftwareTab('autoprotocols')" ng-class="{'active':softTab==='autoprotocols'}">{{ 'autoprotocols' | translate }}</li>
            <li data-element="graph-tab" ng-click="setSoftwareTab('graph')" ng-class="{'active':softTab==='graph'}">{{ 'graph' | translate }}</li>
        </ul>
        <button ng-if="common.properties.robotsFirmwareVersion[currentProject.hardware.robot] || common.properties.boardsFirmwareVersion[currentProject.hardware.board]" class="btn btn--factory-firmware" ng-click="performFactoryReset()">
            <svg class="svg-icon">
                <use xlink:href="#lastVersion"></use>
            </svg>
            <span>{{'button_zowi_rest' | translate}}</span>
        </button>
        <button id="twitter-config-button" ng-class="{'twitter-config-button':true, 'no-margin-right':softTab==='code'}" ng-show="twitterWheel">
            <svg class="svg-icon" ng-click="clickTwitterConfig()">
                <use xlink:href="#settings"></use>
            </svg>
        </button>
    </div>
    <div ng-show="twitterSettings" id="twitter-content" class="twitter-config__content">
        <div class="form--section">
            <fieldset>
                <legend>
                    <svg class="svg-icon svg-icon--text">
                        <use xlink:href="#twitter"></use>
                    </svg>
                    <span>{{ 'twitter' | translate }}</span>
                </legend>
                <!-- input type="file"-->
                <div class="form-control">
                    <div class="form-control">
                        <label for="name">{{ 'consumer-key' | translate }}</label>
                        <span class="form--input" data-ng-class="{'form--input':true, 'input--focused':focus === 'consumer-key'}">
                            <input aria-invalid="false" data-element="consumer-key" data-ng-blur="focus = false" data-ng-focus="focus = 'consumer-key'" data-ng-model-options="{ debounce: { 'default': 2000, 'blur': 0 } }" data-ng-model="common.user.twitterApp.consumerKey" id="consumer-key" name="consumer-key" placeholder="{{'consumer-key' | translate}}" tabindex="0" type="text">
                        </span>
                    </div>
                    <div class="form-control">
                        <label for="name">{{ 'consumer-secret' | translate }}</label>
                        <span class="form--input" data-ng-class="{'form--input':true, 'input--focused':focus === 'consumer-secret'}">
                            <input aria-invalid="false" data-element="consumer-secret" data-ng-blur="focus = false" data-ng-focus="focus = 'consumer-secret'" data-ng-model-options="{ debounce: { 'default': 2000, 'blur': 0 } }" data-ng-model="common.user.twitterApp.consumerSecret" id="consumer-secret" name="consumer-secret" placeholder="{{'consumer-secret' | translate}}" tabindex="0" type="text">
                        </span>
                    </div>
                    <div class="form-control">
                        <label for="name">{{ 'access-token' | translate }}</label>
                        <span class="form--input" data-ng-class="{'form--input':true, 'input--focused':focus === 'access-token'}">
                            <input aria-invalid="false" data-element="access-token" data-ng-blur="focus = false" data-ng-focus="focus = 'access-token'" data-ng-model-options="{ debounce: { 'default': 2000, 'blur': 0 } }" data-ng-model="common.user.twitterApp.accessToken" id="access-token" name="access-token" placeholder="{{'access-token' | translate}}" tabindex="0" type="text">
                        </span>
                    </div>
                    <div class="form-control">
                        <label for="name">{{ 'access-token-secret' | translate }}</label>
                        <span class="form--input" data-ng-class="{'form--input':true, 'input--focused':focus === 'access-token-secret'}">
                            <input aria-invalid="false" data-element="access-token-secret" data-ng-blur="focus = false" data-ng-focus="focus = 'access-token-secret'" data-ng-model-options="{ debounce: { 'default': 2000, 'blur': 0 } }" data-ng-model="common.user.twitterApp.accessTokenSecret" id="access-token-secret" name="access-token-secret" placeholder="{{'access-token-secret' | translate}}" tabindex="0" type="text">
                        </span>
                    </div>
                </div>
            </fieldset>
        </div>
        <span class="link--default"><a ng-href="{{'#/forum/Preguntas%20frecuentes/' + envData.config.twitterTutorialId}}" target="_blank">{{'phoneBloq_twitter_config'| translate}}</a></span>
    </div>
    <div ng-show="showScroll && softTab==='bloqs'" class="make--scrollbar">
        <div class="scrollbar--small"></div>
    </div>
    <div ng-show="showHorizontalScroll && softTab==='bloqs'" id="make--horizontal-scrollbar">
        <div id="scrollbar--horizontal-small"></div>
    </div>
    <div class="software--tab" ng-init="softTab = 'bioblocks_edition'" ng-show="softTab==='bioblocks_edition'">
        <div id="bloqs--field" ng-class="{'theme-colors':currentProject.defaultTheme === 'infotab_option_colorTheme', 'theme-basic':currentProject.defaultTheme === 'infotab_option_grayTheme' || !currentProject.defaultTheme}" class="field" tabindex="0">
            <!-- From here testing block -->
            <!-- TODO: Collapse button does not work -->
            <script>
                window.alert("Welcome to the custom editor")
            </script>
            <div class="bloq bloq--group bloq-vars">
                <div class="field--header"><button class="btn btn--collapsefield"></button><h3 data-i18n="bloq-var-header">{{ 'bioblocks_editor_field_title' | translate }}</h3></div>
                <!-- Scrip tags to load the code that is needed in blockly just in case it's erased from index.html 
                <script src="bower_components/various-scripts/demos/testing/custom_code/definitions.js"></script>
                <script src="bower_components/various-scripts/demos/testing/blocks.js"></script>
                <script src="bower_components/various-scripts/demos/testing/factory_utils.js"></script>
                <script src="bower_components/various-scripts/demos/testing/factory.js"></script>
                <script src="bower_components/various-scripts/demos/testing/custom.js"></script> 
                            <script src="bower_components/google-blockly/blockly_compressed.js"></script>
                <script src="bower_components/google-blockly/blocks_compressed.js"></script>
                <script src="bower_components/google-blockly/msg/js/en.js"></script>
                <table>-->
                <script src="scripts/bioblocks/editor.js"></script>
                  <tr>
                    <td>
                      <h4 class="blocklyTitle"> Workspace</h4><br>
                      <div class="blocklyDiv" id="blocklyDiv" style="height: 200px; width: 1000px;"></div>
                    </td>
                  </tr>
                </table>
                <div class="bloq bloq--group bloq-vars" style="height: 200px;">
                </div>
            </div> 
            <!-- End testing block -->
            <div data-ng-class="{'toolbox--main':true,'navbar--collapsed':collapsedHeader, 'toolbox--expand':selectedBloqsToolbox!==''}" data-ng-include="'views/project/bloqsToolbox.html'"></div>
        </div>
        <div id="empty"></div>
        <div id="bloqs-context-menu">
            <ul>
                <li>
                    <button data-ng-click="duplicateBloqFromContextMenu(contextMenuBloq)">{{ 'bloqstab-duplicate-bloq' | translate }}</button>
                </li>
                <li>
                    <button data-ng-show="!contextMenuBloq.itsEnabled() && !contextMenuBloq.itsFree()" data-ng-click="enableBloqFromContextMenu(contextMenuBloq)">{{ 'bloqstab-enable-bloq' | translate }}</button>
                </li>
                <li>
                    <button data-ng-show="contextMenuBloq.itsEnabled()" data-ng-click="disableBloqFromContextMenu(contextMenuBloq)">{{ 'bloqstab-disable-bloq' | translate }}</button>
                </li>
                <li class="dropdown__item--separator"></li>
                <li>
                    <button data-ng-click="removeBloqFromContextMenu(contextMenuBloq)">{{ 'bloqstab-remove-bloq' | translate }}</button>
                </li>
            </ul>
        </div>
    </div>
    <div class="software--tab" ng-init="softTab = 'experiment'" ng-show="softTab==='experiment'">
        <div id="blocklyDiv2" class="bloq bloq--group bloq-vars" style="height: 90%;">
            <div class="field--header"><h3 data-i18n="bloq-var-header">{{ 'bioblocks_experiment_editor_field_title' | translate }}</h3></div>
        </div>
        <div data-ng-class="{'toolbox--main':true,'navbar--collapsed':collapsedHeader, 'toolbox--expand':selectedBloqsToolbox!==''}" data-ng-include="'views/project/bloqsToolbox.html'"></div>
        <!--<div id="bloqs--edition--field" ng-class="{'theme-colors':currentProject.defaultTheme === 'infotab_option_colorTheme', 'theme-basic':currentProject.defaultTheme === 'infotab_option_grayTheme' || !currentProject.defaultTheme}" class="field" tabindex="0">
            <div data-ng-class="{'toolbox--main':true,'navbar--collapsed':collapsedHeader, 'toolbox--expand':selectedBloqsToolbox!==''}" data-ng-include="'views/project/bloqsToolbox.html'"></div>
        </div>-->
        <div id="empty"></div>
        <div id="bloqs-context-menu">
            <ul>
                <li>
                    <button data-ng-click="duplicateBloqFromContextMenu(contextMenuBloq)">{{ 'bloqstab-duplicate-bloq' | translate }}</button>
                </li>
                <li>
                    <button data-ng-show="!contextMenuBloq.itsEnabled() && !contextMenuBloq.itsFree()" data-ng-click="enableBloqFromContextMenu(contextMenuBloq)">{{ 'bloqstab-enable-bloq' | translate }}</button>
                </li>
                <li>
                    <button data-ng-show="contextMenuBloq.itsEnabled()" data-ng-click="disableBloqFromContextMenu(contextMenuBloq)">{{ 'bloqstab-disable-bloq' | translate }}</button>
                </li>
                <li class="dropdown__item--separator"></li>
                <li>
                    <button data-ng-click="removeBloqFromContextMenu(contextMenuBloq)">{{ 'bloqstab-remove-bloq' | translate }}</button>
                </li>
            </ul>
        </div>
    </div>
    <div class="software--tab" ng-show="softTab==='code'">
        <button ng-if="common.section !== 'exercise' && common.section !== 'task'" class="software__edit-code" data-ng-click="goToCodeModal()" data-element="software-edit-code">
            <svg class="svg-icon svg-icon--text svg-icon--menu">
                <use xlink:href="#pencil"></use>
            </svg>
            {{'bloqsTab_button_editCode' | translate }}
        </button>
        <div class="console--main">
            <beauty-code class="console--content" data-code="currentProject.code"></beauty-code>
        </div>
    </div>
    <div class="software--tab" ng-show="softTab==='autoprotocols'">
        <div class="console--main">
            <beauty-code class="console--content" data-code="TODO"></beauty-code>
        </div>
    </div>
    <div class="software--tab" ng-show="softTab==='graph'">
        <div class="alert">
            {{ 'under_construction' | translate }}.
        </div>
    </div>
</div>