<div data-ng-controller="SerialMonitorCtrl" class="form serial--panel">
    <div class="form-control ports" data-ng-show="web2board.web2boardVersion!== 'web2boardV2'">
        <common-dropdown options="portNames" class="ports--sort-dropdown" direction="down" shown-option="selectedPort.portName" options-click="setPort"></common-dropdown>
        <button class="btn refresh" data-ng-click="getPorts()">
            <svg class="svg-icon svg-icon--text">
                <use xlink:href="#lastVersion"></use>
            </svg>
        </button>
    </div>
    <div class="form-control">
        <span class="serial--send--content">
            <input class="serial--send--input" type="text" data-ng-model="inputText" placeholder="Send text to board" data-element="serialmonitor-input"
                ng-keypress="onKeyPressedInInput($event)">
            <button class="btn btn--tertiary btn--small" ng-click="send()">{{'serial-send' | translate}}</button>
        </span>
    </div>
    <div class="form-control" style="flex: auto; position: relative">
        <textarea id="serialData" data-ng-model="web2board.serial.serialPortData" class="serial--textArea" readonly></textarea>
    </div>
    <!-- Submit Form -->
    <div>
        <button class="btn btn--tertiary btn--small" ng-click="onPause()">{{pauseText}}</button>
        <button class="btn btn--tertiary btn--small" ng-click="onClear()">{{'serial-clear' | translate}}</button>
        <common-dropdown id="serialmonitor--dropdown--baudrate" options="baudrateOptions" class="right" direction="up" heading-option="currentBaudRate"
            options-click="onBaudrateChanged"></common-dropdown>
    </div>
</div>