<p>
    {{'support-view--3020isModeChromeapp-content' | translate}}
</p>
<p class="icon--exclamation">
  <i class="text--secondary">{{'support-view--3020isModeChromeapp-info' | translate}}</i>
</p>
<p class="support--ok-warning" data-ng-show="common.user.chromeapp === true"><i class="fa fa-check-circle support--icon--mid support--icon--si" aria-hidden="true"><i class="fa fa-chrome support--icon--giga support--icon--ok" aria-hidden="true"></i></i>
    <br>
    <span>
        <strong>{{'support-view--3020isModeChromeapp-modechromeapp' | translate}}</strong>
        <i class="support--icon--si">{{'activated' | translate}}</i>
    </span>
</p>
<p class="support--ok-warning" data-ng-show="common.user.chromeapp === false"><i class="fa fa-times-circle support--icon--mid support--icon--naranja" aria-hidden="true"><i class="fa fa-chrome support--icon--giga support--icon--ok" aria-hidden="true"></i></i>
    <br>
    <span>
        <strong>{{'support-view--3020isModeChromeapp-modechromeapp' | translate}}</strong>
        <i class="support--icon--si">{{'deactivated' | translate}}</i>
    </span>
</p>
<p>
    {{'support-view--3020isModeChromeapp-accountconfig' | translate}}
    "<a href="/#/account" target="_blank">{{ 'account-config' | translate }}</a>"
</p>
