<div class="support--grid--2">
    <p>{{'support-view--doesntInstall-title1' | translate}}</p>
    <ul>
        <li class="support--grid--2--l">
            <p>{{'support-view--doesntInstall-title2' | translate}}</p>
            <ul>
                <li class="icon--windows"> Windows 7</li>
                <li class="icon--windows"> Windows 8.1</li>
                <li class="icon--windows"> Windows 10</li>
                <li class="icon--linux"> Ubuntu 14.04</li>
                <li class="icon--mac"> Mac OSX 10.10+ (64b)</li>
                <li class="icon--chrome"> Chrome OS (chromebooks))</li>
            </ul>
        </li>
        <li class="support--grid--2--r">
            <p><i>{{'support-view--doesntInstall-title3' | translate}}</i></p>
            <ul>
                <li class="icon--windows"><a href="" ng-click="go('xp', true)"> Windows XP</a></li>
                <li class="icon--linux"><a href="" ng-click="go('linux', true)"> Debian</a></li>
                <li class="icon--linux"><a href="" ng-click="go('linux', true)"> Mint</a></li>
                <li class="icon--linux"><a href="" ng-click="go('linux', true)"> Xubuntu</a></li>
                <li class="icon--linux"><a href="" ng-click="go('linux', true)"> OpenSuse</a></li>
            </ul>
        </li>
    </ul>
</div>
<p>{{'support-view--doesntInstall-title4' | translate}} <strong class="icon--linux"> Vitalinux</strong>?:</p>
<ul>
    <li>{{'support-view--doesntInstall-content1-a' | translate}} <a href="http://soporte.vitalinux.educa.aragon.es/projects/vitallinux-dga-soporte" target="_blank" class="icon--url">{{'support-view--doesntInstall-content1-b' | translate}} Vitalinux</a></li>
    <li>{{'support-view--doesntInstall-title5' | translate}}
        <ul>
            <li class="common--text-term-fx">sudo apt-get update</li>
            <li class="common--text-term-fx">sudo apt-get install vx-dga-l-web2board-bq</li>
            <li><i class="fa fa-exclamation" aria-hidden="true"></i>
                <i>{{'support-view--doesntInstall-info1' | translate}}</i></li>
        </ul>
    </li>
</ul>
<p>{{'support-view--doesntInstall-title4' | translate}} <strong class="icon--linux"> MAX9</strong>?:</p>
<ul>
    <li>{{'support-view--doesntInstall-content2-a' | translate}} <i class="text--secondary">"standart_web2board_installer"</i> {{'support-view--doesntInstall-content2-b' | translate}} <a href="https://github.com/bq/web2board/releases/download/Latest/linux_32_web2board_installer.zip" target="_blank" class="icon--url">web2board - Linux 32</a> | <a href="https://github.com/bq/web2board/releases/download/Latest/linux_64_web2board_installer.zip" target="_blank" class="icon--url">web2board - Linux 64</a>.
    </li>
</ul>
