<p>{{'support-view--dontLoad-content1' | translate}}</br>
    {{'support-view--dontLoad-content2' | translate}}</p>
<p>{{'support-view--dontLoad-content3' | translate}}</p>
<ul>
    <li class="icon--windows"><strong> Windows:</strong>
        <p>
            {{'support-view--dontLoad-content4-a' | translate}}
            <span class="common--icon-keycap-fx">Ctrl</span> +
            <span class="common--icon-keycap-fx">⇧ {{'support-view--dontLoad-mayus' | translate}}</span> +
            <span class="common--icon-keycap-fx">R</span>
            {{'support-view--dontLoad-content4-b' | translate}}
        </p>
    </li>
    <li class="icon--mac"> <strong> Mac:</strong>
        <p>
            {{'support-view--dontLoad-content4-a' | translate}}
            <span class="common--icon-keycap-fx">⌘ CMD</span> +
            <span class="common--icon-keycap-fx">⇧ {{'support-view--dontLoad-mayus' | translate}}</span> +
            <span class="common--icon-keycap-fx">R</span>
            {{'support-view--dontLoad-content4-b' | translate}}
        </p>
    </li>
    <li class="icon--linux"><strong> Linux:</strong>
        <p>
            {{'support-view--dontLoad-content4-a' | translate}}
            <span class="common--icon-keycap-fx">Ctrl</span> +
            <span class="common--icon-keycap-fx">⇧ {{'support-view--dontLoad-mayus' | translate}}</span> +
            <span class="common--icon-keycap-fx">R</span>
            {{'support-view--dontLoad-content4-b' | translate}}
        </p>
    </li>
</ul>
<p>{{'support-view--dontLoad-content5' | translate}}</strong>
    <ul>
        <li>
            <strong class="icon--check"> {{'support-view--dontLoad-title1' | translate}}</strong>
            <ul>
              <li>
                <ul>
                  <li>
                    <span class="icon--windows"> Windows</span> + <span class="icon--linux"> Linux</span>:
                    {{'support-view--dontLoad-content6-a' | translate}}
                    <i>({{'support-view--dontLoad-content6-b' | translate}})</i>
                    {{'support-view--dontLoad-content6-c' | translate}}
                    <i>({{'support-view--dontLoad-content6-d' | translate}} <span class="common--icon-keycap-fx">Ctrl</span> + <span class="common--icon-keycap-fx">⇧ {{'support-view--dontLoad-mayus' | translate}}Mayús</span> + <span class="common--icon-keycap-fx">Supr</span>)</i>.
                    <br>
                    <span class="icon--mac"> Mac</span>:
                    {{'support-view--dontLoad-content7' | translate}}.
                  </li>
                </ul>
              </li>
            </ul>
        </li>
        <li>
            <strong class="icon--check"> {{'support-view--dontLoad-title2' | translate}}</strong>
            {{'support-view--dontLoad-content8' | translate}}
        </li>
        <li>
            <strong class="icon--check"> {{'support-view--dontLoad-title3' | translate}}</strong>
            {{'support-view--dontLoad-content9' | translate}}
        </li>
        <li>
            <strong class="icon--check"> {{'support-view--dontLoad-title4' | translate}}</strong>
            {{'support-view--dontLoad-content10' | translate}}
        </li>
    </ul>
</p>
<p class="support--center">
    <strong>{{'support-view--dontLoad-next' | translate}}</strong>
</p>
