<p>{{'support-view--common-hardContent1' | translate}}</p>
<p>{{'support-view--common-hardContent2' | translate}}</p>
<div class="support--center">
    <div class="support--img-coolmodal">
        <figure class="effect-goliath">
            <a href ng-click="imgModal('/images/support/zum-button-comm.png')">
                <img src="/images/support/zum-button-comm.png" alt="zum-button-comm" />
                <figcaption>
                    <h2>{{'support-view--common-hardClickImg1' | translate}} <span>click</span> {{'support-view--common-hardClickImg2' | translate}}</h2>
                </figcaption>
            </a>
        </figure>
    </div>
</div>
<p>
    <ul>
        <li class="icon--exclamation support--centered"><i class="text--secondary">{{'support-view--common-hardInfo' | translate}}</i></li>
    </ul>
</p>
<p class="support--center">
    <strong>{{'support-view--common-hardNext' | translate}}</strong>
</p>
