<p>En la siguiente imagen puede observar cómo se realiza la correcta conexión de los cables, tanto a la placa como al componente.</p>
<p>Es
    <strong>necesario</strong> que conecte el componente
    <strong>exactamente igual que en la imagen</strong> para que podamos lanzar un test automático.</p>
<div class="support--center">
    <div class="support--img-coolmodal">
        <figure class="effect-goliath">
            <a href ng-click="imgModal('/images/support/zum-button-comm.png')">
                <img src="/images/support/zum-button-comm.png" alt="zum-button-comm" />
                <figcaption>
                    <h2>Haga
                        <span>click</span> para ampliar</h2>
                </figcaption>
            </a>
        </figure>
    </div>
</div>
<p>
    <ul>
        <li class="icon--exclamation support--centered"><i class="text--secondary">Asegurese de que todo está conectado tal y como le indicamos.</i></li>
    </ul>
</p>
<p class="support--center">
    <strong>¿Ha conectado bien el componente?</strong>
</p>
