<p class="support--centered"><i class="text--secondary" data-ng-hide="checked">{{'make-hardware-select-board' | translate}}:</i></p>
<p>
    <ul class="support--center" id="support--hw-test">
        <li data-ng-mouseover="hovered = 'bqzum'" data-ng-mouseleave="hovered = null" data-ng-hide="checked === 'otras'">
            <a href="" data-ng-click="checked = (checked) ? null : 'bqzum'"><img id="bqzum" src="/images/boards/bqZUM.svg" alt="bqzum" data-ng-class="{noHover: hovered && hovered !== 'bqzum', isHover: checked === 'bqzum' || hovered === 'bqzum'}" />
            <span id="bqzum" data-ng-show="checked === 'bqzum' || hovered === 'bqzum'">BQ Zum Core
                <br>(BT-328)</span></a>
        </li>
        <li class="support--icon--giga support--icon--default">
            <i class="fa fa-arrows-h loader" aria-hidden="true" data-ng-hide="hovered || checked"></i>
            <i class="fa fa-check-circle ok" aria-hidden="true" data-ng-show="hovered || checked" data-ng-class="{checked: checked}"></i>
          </li>
        <li data-ng-mouseover="hovered = 'otras'" data-ng-mouseleave="hovered = null" data-ng-hide="checked === 'bqzum'">
            <a href="" data-ng-click="checked = (checked) ? null : 'otras'"><img id="otras" src="/images/boards/ArduinoUNO.svg" alt="Otras" data-ng-class="{noHover: hovered && hovered !== 'otras', isHover: checked  === 'otras' || hovered === 'otras'}" />
            <span id="otras" data-ng-show=" checked  === 'otras' || hovered === 'otras'">{{'support-view--common-otherboards' | translate}}</span></a>
        </li>
    </ul>
</p>
<p class="support--centered" data-ng-show="checked">
  {{'support-view--common-installInfo' | translate}} {{'mkb_ultrasound' | translate}}.
</p>
<p class="support--centered" data-ng-show="checked">
  <button class="btn btn--primary" data-ng-click="hwTestStart('us',checked)" data-element="hw_test_us_start">
      <span class="icon--big icon--ok">{{'support-view--common-load' | translate}}</span>
  </button>
</p>
