<p>En la siguiente imagen puede observar cómo se realiza la correcta conexión de los cables, tanto a la placa como al componente.</p>
<div class="support--center">
    <div class="support--img-coolmodal">
        <figure class="effect-goliath">
            <a href ng-click="imgModal('/images/support/zum-lcd-comm.png')">
                <img src="/images/support/zum-lcd-comm.png" alt="zum-led-comm" />
                <figcaption>
                    <h2>Haga
                        <span>click</span> para ampliar</h2>
                </figcaption>
            </a>
        </figure>
    </div>
</div>
<p><strong>¿Ha solucionado su consulta?</strong></p>
