<p>{{"support-view--linux-content1-a" | translate}} <span class="icon--linux">  Linux <i>{{"support-view--linux-content1-b" | translate}}</i></p>
<p>{{"support-view--linux-content2" | translate}}
    <ul>
        <li class="icon--check">
          {{"support-view--linux-info1" | translate}} <span class="icon--chrome"> ChromeApp</span>.
          <ul>
            <li>
              <ul>
                <li>
                  <a href="/#/account">{{'account-config' | translate}}</a>: <i class="text--secondary">"{{"account-checkbox-chromeapp" | translate}}"</i>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="icon--check">{{"support-view--linux-dialout" | translate}} <span class="common--text-term-fx little">sudo adduser username_to_include dialout</span></li>
    </ul>
</p>
