<strong>{{'support-view--logRoutes-content1' | translate}}</strong> (<i class="text--secondary">"web2board"</i> {{'text-join' | translate}} <i class="text--secondary">"Web2boardLink"</i>)<br>
{{'support-view--logRoutes-content2' | translate}}<br>
{{'support-view--logRoutes-content3' | translate}}
<ul>
    <li>
        <span class="icon--windows"> Windows</span>:
        <br>
        <ul>
            <li class="common--text-term-fx">%APPDATA%/.web2boardLink.log</li>
            <li class="common--text-term-fx">%APPDATA%/web2board/info.log</li>
        </ul>
    </li>
    <li>
        <span class="icon--linux"> Linux</span> y
        <span class="icon--mac"> Mac</span>:
        <br>
        <ul>
            <li class="common--text-term-fx">~/.web2boardLink.log</li>
            <li class="common--text-term-fx">~/.web2board/info.log</li>
        </ul>
    </li>
</ul>
