<p class="support--ok-warning"><i class="fa fa-check-circle support--icon--giga support--icon--ok" aria-hidden="true"></i>
    <br>
    <span>{{'support-view--virusForm-content1-a' | translate}}
        <strong>{{'support-view--virusForm-content1-b' | translate}}</strong>
    </span>
</p>
<p>{{'support-view--virusForm-content2' | translate}}</p>
<p>{{'support-view--virusForm-content3' | translate}}
    <br>{{'support-view--virusForm-content4' | translate}}
    <br>{{'support-view--virusForm-content5' | translate}}</p>

<div class="support--form" data-ng-if="common.user">
    <p>{{'support-view--virusForm-content6' | translate}}</p>
    <br>
    <form name="form">
        <fieldset>
            <!-- SO -->
            <div class="form-control">
                <legend class="icon--check">{{'modal-inform-error-os-version-placeholder' | translate}}</legend>
                <span class="form--input common--textarea" data-ng-class="{'input--focused':focus === 'system'}">
                    <input ng-model="response.system" ng-focus="focus = 'system'" ng-blur="focus = false" id="system" name="system" type="text" maxlength="50" placeholder="{{'modal-inform-error-os-version-placeholder' | translate}}" autocorrect="off" autocomplete="off" required>
                </span>
            </div>
            <!-- antivirus -->
            <div class="form-control">
                <legend class="icon--check">{{'support-view--virusForm-content7' | translate}}</legend>
                <span class="form--input common--textarea" data-ng-class="{'input--focused':focus === 'antivirus'}">
                    <input ng-model="response.antivirus" ng-focus="focus = 'antivirus'" ng-blur="focus = false" id="antivirus" name="antivirus" type="text" maxlength="50" placeholder="{{'support-view--virusForm-content7' | translate}}" autocorrect="off" autocomplete="off" required>
                </span>
            </div>
        </fieldset>
    </form>
    <div class="form-control submit support--next">
        <input type="submit" data-ng-disabled="!response.system || !response.antivirus" data-ng-click="send()" name="submitform" class="btn btn--primary btn__login--submit" value="{{'send' | translate}}">
    </div>
</div>

<div class="support--form" data-ng-if="!common.user">
    <p>{{'support-view--common-formContent1' | translate}} <a href="mailto:soporte.bitbloq@bq.com" target="_blank" class="icon--url">soporte.bitbloq@bq.com</a></p>
    <p class="icon--check">
        <strong>{{'support-view--common-formContent2' | translate}}</strong>
    </p>
</div>
