<p>{{"support-view--common-OScontent1" | translate}} <span class="icon--windows"> Windows XP <span> <i>{{"support-view--windows-content1end" | translate}}</i></p>
<p>{{"support-view--common-OScontent2" | translate}}
    <ul>
        <li class="icon--check">{{"support-view--common-OSinfo1" | translate}} <span class="icon--chrome"> ChromeApp</span>.
            <ul>
              <li>
                <ul>
                  <li>
                    <a href="/#/account">{{'account-config' | translate}}</a>: <i class="text--secondary">"{{"account-checkbox-chromeapp" | translate}}"</i>
                  </li>
                </ul>
              </li>
            </ul>
        </li>
        <li class="icon--check"> {{"support-view--windows-info1" | translate}} <i  class="common--text-term-fx little">"FATAL ERROR web2boardlink returned -1"</i>, {{"support-view--windows-info2" | translate}}</li>
    </ul>
</p>
